.adj{
  min-height: "15rem";
  margin: "2rem";
}

.adj2 {
  height: 250px;
  margin: 0;
  width: 100%;
  padding: 10px;
  overflow: auto;
}

@media (max-width: 1200px) {
  .adj{
    height: 400px;
    margin: 0;
  }
  .adj2 {
    height: 200px;
    margin: 0;
    width: 100%;
    padding: 10px;
    overflow: scroll;
  }
}