.user {
  width: 500px;
  height: auto;
  padding: 5px;
  margin: 20px;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  cursor: pointer;
  text-decoration: none;
}

.paginationBttns a:hover {
  color: white;
  background-color: #45cee0;
}

.paginationActive a {
  color: white;
  background-color: #45cee0;
}
