body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  scroll-behavior: smooth;
}

.spinner{
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.cat{
  display: inline-flex;
  justify-content: space-between;
}

.cat2{
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

.cat3{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lower-adjust{
  margin: 20px;
  text-align: center;
}

.select-adj{
  width: 200px;
}

.tdview{
  background-color: lightskyblue;
  border-radius: 20px;
  padding: 10px;
  width: 150px;
  text-align: center;
  height: auto;
}
input[type="file"] {
  display: none;
}


.fieldset{
  width: 700px;
}

@media(max-width: 920px){
  .fieldset{
    width: 400px;
  }
}